@charset "utf-8";

/*全局*/
body{ font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif; font-size:62.5%; }

a:link,a:visited,a:hover,a:active{ text-decoration: none; }


.wrap{ width:90%; }
.wrap60{ width:60%; margin: 0 auto }
.wrap50{ width:60%; margin: 0 auto }

.w{ width: 1200px; margin: auto; }
.w_max{ max-width: 100%; margin: auto; }
.w_min{ min-width: 1200px; margin: auto; }



.header{ height: 120px; overflow: hidden; }
.header .w{ height: 120px; }

.header .logo{ float: left; display: block; margin: 0 20px 0 0; width: 120px; }
.header .logo .img{ display: block; max-width: 100%; }
.header .logo:hover .img{ -webkit-transform:scale(0.98); -moz-transform:scale(0.98); -ms-transform:scale(0.98); -o-transform:scale(0.98); transform:scale(0.98); }

.header .search{ float: right; height: 40px; margin: 20px 0; overflow: hidden; }
.header .search .txt{ display:block; float: left; padding: 0px 10px; border: 4px solid #5f9dcc; font-size: 20px; line-height:32px; color: #8b8a8a; outline: none; overflow: visible; }
.header .search .btn_search{ float: left; display: block; padding:0 20px; border: none; height: 40px; background-color: #5f9dcc; line-height: 40px; font-size: 1.8em; color: #fff; cursor:pointer; }
.header .search:hover{ }
.header .search:hover .txt{ /*border: 4px solid #3c3c3c; */ border: 4px solid #f54200; }
.header .search:hover .btn_search{ /*background-color: #3c3c3c; */ background-color: #f54200; }

.header .nav_main{ }


.footer{ }


.content{ }


.span_3_1{ width:29.2%; padding: 1.5%; }
.span_3_2{ width: 63.8%; padding: 1.5%; }

.col .span_2_1{ width: 48.5%; padding: 1.5%; float: left;}
.col .span_2_1:first-child{ padding: 1.5% 1.5% 1.5% 0;}
.col .span_2_1:last-child{ padding: 1.5% 0 1.5% 1.5%; }
.col .span_2_1_cpr{ padding: 1.5% 0 1.5% 1.5%; }
/*.span_2_1{ width: 63.8%; padding: 1.5%; }*/


/*
	布局
*/
.g_span_pct50{ width: 50%; float: left; }
.g_span_50{ width: 50%; float: left; }



/*
	元件
*/

/* 标记 */
.u_sign{ position: relative; display: block; background: #f54200; padding: 3px 6px; font-size: 1.2em; line-height: 1em; background: #f54200; color: #fff; }
.u_sign:after{ position: absolute; left: 50%; top: 100%; width:0px; height:0px; margin: 0 0 0 -5px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:8.660254037844386px solid #f54200; font-size:0px; line-height:0px; content: ""; }

.u_sign_gray{background: #8b8a8a;}
.u_sign_gray:after{border-top-color:#8b8a8a;}


/* 分页 */
.u_page{ padding: 20px 0; }
.u_page li{ display: inline-block; +display: inline; +zoom: 1; margin: 0 2px; }
.u_page li a{ display: block; padding: 10px 14px; border:1px  solid #e5e5e5; color: #8b8a8a; font-size: 1.4em; line-height: 1em; }
.u_page li a:hover,
.u_page li .hover{ border:1px  solid #f54200; background: #f54200; color: #fff; }

/* 标题 */
.u_title{ margin: 20px auto; background-color: #333947; font-size: 2.4em; line-height: 2em; color: #fff;position: relative;}
.u_title .txt{ /*width: 168px; */width:14%;  min-width: 168px; background-color:#f54200; display: inline-block; +display: inline; +zoom: 1;text-align: center; }
.u_title .btn_more{ position: absolute; right: 0px; padding: 0 20px; font-size: 0.6em; color: #fff; }
.u_title .btn_more:hover{ background: #5f9dcc; color: #fff; }

/* 按钮 */
.u_btn{ display: inline-block; +display: inline; +zoom: 1; padding: 10px 20px; border: none; font-size: 1.8em; line-height: 1em; color: #fff; background: #333947; background: rgba(51,57,71,.9); cursor: pointer;}
.u_btn:hover{ background: #f54200; background: rgba(245,66,0,.9); }

/* 遮罩 */
.u_shade{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 2;
}
.u_shade .table{
	width: 100%;
	height: 100%;
	display: table;
}
.u_shade .info{
	/*display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto; 
	min-height: 18px;*/
	display: table-cell;
	vertical-align: middle;
	font-size: 1.8em;
	line-height: 2em;
	color: #fff;
	text-align: center;
}

/* 
	模块
*/

/* banner */
.m_banner{ }
.m_banner .info{ width: 100%; position: relative; overflow: hidden; }
.m_banner .info li{ float: left; position: absolute; left: 0; top: 0; width: 100%; z-index: 1; opacity: 0; filter: alpha(opacity=0); }
.m_banner .info li .img{ display: block; width: 100%; }
/*.m_banner .info li:first-child,*/
.m_banner .info .hover{ float: none; position: relative; z-index: 2; opacity: 1; filter: alpha(opacity=100); }

.e_sub_banner{ }
.e_sub_banner .img{ display:block; width: 100%; }


/* 咨询评点 */
.m_FAQ{ position: relative; display: inline-block; padding: 20px 20px 20px 50px; margin: 20px 0 0 0; border: 1px solid #e5e5e5; color: #1f2227; }
.m_FAQ .ico{ color: #fff; text-align: center; line-height: 20px; font-size: 1em; font-weight: normal; height: 20px; width: 20px; display: block; position: absolute; overflow: hidden; left: 20px; }
.m_FAQ .Q_title{ margin: 0 0 10px 0; line-height: 20px; font-size: 1.4em; font-weight: bold; }
.m_FAQ .Q_title .ico{ background: #f54200; }
.m_FAQ .A_txt{ font-size: 1.4em; }
.m_FAQ .A_txt .ico{ background: #333947; }
.m_FAQ:hover{ border: 1px solid #f54200; }
.m_FAQ_even{ margin: 0 0px 20px 20px; }


/* 编辑框 */
.m_edit{ font-size: 1.4em; line-height: 1.8em; }
.m_edit p{ padding: 4px 0; text-indent: 2em; }
.m_edit ul{ }
.m_edit li{ }
.m_edit img{ }


/* ad top */
.m_ad_top{ margin: 0 auto; position: relative; }
.m_ad_top img{ display: block; }
.m_ad_top .btn_close{ position: absolute; top: 50%; right: 20px; margin:-15px 0 0 0; color: #fff; color: rgba(255,255,255,.8); font-size: 2em; line-height: 1em; }
.m_ad_top .btn_close:hover{color:#fff; color: rgba(255,255,255,1); }

/* 列表 */
.m_list{ }
.m_list .col{ float: left; }
.m_list .col:first-child{ margin-left: 0; }
.m_list .span_1{ width:14%; padding: 1.5% 1.5% 1.5% 0;}
.m_list .span_2{ width: 83%; padding: 1.5% 0 1.5% 1.5%;}

.m_list .area{ margin: 0 0 20px 0; background-color: #333947; font-size: 0; }
.m_list .area li{ display: inline-block; width: 50%; margin: 0; font-size: 16px; line-height: 1.8em; text-align: center; }
.m_list .area li:first-child,
.m_list .area .title{ display: block; width: 100%; margin: 0 0 10px 0; background-color: #f54200; color: #fff; font-size:24px; line-height: 48px; text-align: center; }


.m_list .info{ overflow: hidden; }
.m_list .info .itme{ display: block; float: left; width: 32%; margin: 0px 2% 40px 0; }
.m_list .info .itme:nth-child(3n){ margin: 0 0 40px 0; }
.m_list .info .cml{ margin: 0 0 40px 0; }
.m_list .info .itme .img_wrap{ position: relative; overflow: hidden; }
.m_list .info .itme .img{ display: block; width: 100%; max-width: 100%; min-width: 100%; }

.m_list .info .itme .float_box{ position: absolute; bottom: -40px; /*height: 40px;*/ width: 100%; background: #333947; background: rgba(245,66,0,.9); color: #fff; }
.m_list .info .itme .price{ font-size: 2em; line-height: 40px; padding:0 20px; color: #fff; }
.m_list .info .itme .satisfaction{ font-size: 1.2em; line-height: 40px; }
.m_list .info .itme .title{ height: 50px; padding: 8px 14px; font-size: 1.4em; line-height: 1.8em; color: #8b8a8a; background: #ebebeb; color: #fff; color:#8b8a8a; }

.m_list .area .list .link{ display: block; padding: 10px 0; color: #fff; }
.m_list .area .list .link:hover,
.m_list .area .list .hover{ background-color: #f54200; }

.m_list .info .itme:hover{ }
.m_list .info .itme:hover .float_box{ bottom: 0; }
.m_list .info .itme:hover .img{ -webkit-transform:scale(1.06); -moz-transform:scale(1.06); -ms-transform:scale(1.06); -o-transform:scale(1.06); transform:scale(1.06); }
.m_list .info .itme:hover .title{ color: #333947; /*text-decoration: underline;*/ background-color: #333947; color: #fff; }


.e_list_img{ }
.e_list_img .info .itme{ margin-bottom:30px; }
.e_list_img .info .itme:nth-child(3n){ margin: 0 0 30px 0; }
.e_list_img .info .cml{ margin: 0 0 30px 0; }

.e_list_img .info .itme .float_box{ bottom:0px; background: #333947; background: rgba(51,57,71,.9); }
.e_list_img .info .itme .float_box .box_title{ font-size: 2em; line-height: 100%; padding: 10px 20px; height: auto; }

.e_list_img .info .itme .wire{ position: absolute; background: #333947; background: rgba(51,57,71,.9); }
.e_list_img .info .itme .wire_top,
.e_list_img .info .itme .wire_bottom{ width: 0; height: 2px; margin: 0 0 0 50%; }
.e_list_img .info .itme .wire_top{ top: 0; }
.e_list_img .info .itme .wire_bottom{ bottom: 0; }
.e_list_img .info .itme .wire_right,
.e_list_img .info .itme .wire_left{ width: 2px; height: 0; bottom: 0; }
.e_list_img .info .itme .wire_righ{ left: 0; }
.e_list_img .info .itme .wire_left{ right: 0; }
.e_list_img .info .itme:hover .wire{ background: #f54200; background:rgba(245,66,0,.9); }
.e_list_img .info .itme:hover .wire_top{ width: 100%; margin: 0 0 0 0; }
.e_list_img .info .itme:hover .wire_right,
.e_list_img .info .itme:hover .wire_left{ height: 100%; }
.e_list_img .info .itme:hover .float_box{ background: #f54200; background:rgba(245,66,0,.9); }

.e_list_txt{ }
.e_list_txt .info .itme .float_box{ top:76%; background: #333947; background: rgba(51,57,71,.9);overflow: hidden; }
.e_list_txt .info .itme .float_box .box_title{ font-size: 2em; line-height: 2em; padding: 10px 20px;  height: none;display:block; }
.e_list_txt .info .itme:hover .float_box{ background: #f54200; background:rgba(245,66,0,.9); top: 0; }


/* 留言表单 */
.m_message{ position: relative;}
.m_message .item{ position: relative; padding: 0 0 0 120px; margin: 20px 0; }
.m_message .item .title{ position: absolute; left: 0; top: 0; width: 100px; padding: 0 20px 0 0; text-align: right; font-size: 2em; line-height: 40px; }
.m_message .item .ingput_wrap{ padding: 10px; }
.m_message .item .input{ display: block; width: 96%; padding: 0.5em 2%; border: none; background: none; border:1px solid #e5e5e5; font-size: 2em; line-height: 1em; color: #333947; }
.m_message .item .hint{ position: absolute; top: 0; font-size: 2em; color: #e5e5e5; padding: 0.5em 2%; display:none; }
.m_message .item .block{ display:block; }
.m_message .item .none{ display:none; }

.m_message .item .grade{ overflow: hidden; }
.m_message .item .grade li{ display: inline-block; +display: inline; +zoom: 1; height: 46px; font-size: 3.6em; line-height: 46px; cursor: pointer; color: #e5e5e5; }
.m_message .item .grade li:hover{ color: #f54200; }

.m_message .btn_sub{ font-size: 30px; line-height: 1.6em; width: 100%; }
.m_message .shade{}

.m_message .item .input:hover{ border:1px solid #f54200; }
.m_message .item .input:focus{ border:1px solid #f54200; outline:1px solid #f54200; }


/* 导航 */
.nav_main{ position: absolute; bottom: 0; right: 0; }
.nav_main ul{ height: 40px; background-color: #333947; }
.nav_main ul li{ display: inline-block; height: 40px; }
.nav_main ul li a{ display: block; padding: 0px 22px; font-size: 1.6em; line-height: 40px; color: #fff; }
.nav_main ul li:first-child{ padding: 0 14px; position: relative; }
.nav_main ul li:first-child .u_sign{ display: block; position: absolute; top: -10px; background: #f54200; color: #fff; }
.nav_main ul li:hover,
.nav_main ul .hover{ background-color: #5f9dcc; }
.nav_main .right_color{ position: absolute; right: 0; top: 0; left: 100%; height: 40px; width: 1000%; background-color: #333947; }

/* 保障 */
.safeguard{ background: #5f9dcc; }
.safeguard ul{ margin: 0 auto;}
.safeguard ul li{ float: left; width: 11.1111111%; }
.safeguard ul li a{ display: block; padding: 10px 0; color: #fff; text-align: center; }
.safeguard ul li a i{ font-size: 3em; line-height: 1.4em; }
.safeguard ul li a p{ font-size: 1.4em; line-height: 1.4em; }
.safeguard ul li a:hover{ background: rgba(65, 132, 181, 0.82); }

/* 常见问题 */
.issue{ background: #333947; padding: 30px 0; }
.issue dl{ display: inline-block; padding: 0 20px 0 1.5%; width: 16.5%; }
.issue dl dt{ padding: 0 0 10px 0; color: #b1bfe5; font-size: 1.8em; }
.issue dl dd{ }
.issue dl dd a{ display: block; color: #fff; color: #828ca8; font-size: 1.4em; line-height: 1.6em; }
.issue dl dd a:hover,
.issue dl dd .hover{ color: #fff; }





/*

	全局
	
	  	  主色
	 	  辅色 
    	高亮色
    	阴影色
    	点睛色
    	背景色

    	  蓝色 #3c3c3c #333947 #5f9dcc
    	  橙色 #f54200

    	  灰色 #8b8a8a #e5e5e5

	  字体颜色 

	主标题颜色 
	副标题颜色 
	  正文颜色 
	
	  过渡颜色

	主标题大小 
	副标题大小 
	  正文大小 14px

	主标题行高 
	副标题行高 
	  正文行高 

		  边距
		内填充

*/


/*

布局（grid）（.g-）：
将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！

模块（module）（.m-）：
通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！

元件（unit）（.u-）：
通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！

功能（function）（.f-）：
为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！

皮肤（skin）（.s-）：
如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！

状态（.z-）：
为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{ }，.m-list li.z-sel{ }），具体详见命名规则的扩展相关项。


*/