@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?p4wd41');
	src:url('../fonts/icomoon.eot?#iefixp4wd41') format('embedded-opentype'),
		url('../fonts/icomoon.woff?p4wd41') format('woff'),
		url('../fonts/icomoon.ttf?p4wd41') format('truetype'),
		url('../fonts/icomoon.svg?p4wd41#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_checkmark:before {
	content: "\e60a";
}

.icon_checkmark2:before {
	content: "\e60b";
}

.icon_cancel:before {
	content: "\e60c";
}

.icon_cancel2:before {
	content: "\e60d";
}

.icon_plus:before {
	content: "\e60e";
}

.icon_plus2:before {
	content: "\e60f";
}

.icon_minus:before {
	content: "\e610";
}

.icon_minus2:before {
	content: "\e611";
}

.icon_snowy:before {
	content: "\e600";
}

.icon_search:before {
	content: "\e601";
}

.icon_brightness:before {
	content: "\e602";
}

.icon_office:before {
	content: "\e903";
}

.icon_coin_rmb:before {
	content: "\e93e";
}

.icon_fire:before {
	content: "\e9a9";
}

.icon_logo:before {
	content: "\e603";
}

.icon_logo_icon:before {
	content: "\e604";
}

.icon_plentiful:before {
	content: "\e605";
}

.icon_mapmarker:before {
	content: "\e612";
}

.icon_atom:before {
	content: "\e606";
}

.icon_thumbs_o_up:before {
	content: "\f087";
}

.icon_thumbs_o_down:before {
	content: "\f088";
}

.icon_aircraft:before {
	content: "\e607";
}

.icon_heart_outlined:before {
	content: "\e608";
}

.icon_heart:before {
	content: "\e609";
}

