@charset "utf-8";

/* index */
.index{ }
.index .span_2{ width: 60.3%; padding:1.5% 0; float: left; }
.index .span_1{ width: 38.2%; padding:1.5% 0 1.5% 1.5%; float: left; }

.index .u_title .txt{ min-width: 100px; padding:0 20px; }
.index .index_remark .satisfaction{ font-size: 2em; line-height: 1em; padding: 4px 0 11px 20px; margin: 0 0 8px 0; color: #333947; vertical-align: top; }
.index .index_remark .satisfaction .ico{ color: #f54200; padding:0 4px 0 0; font-size: 1.2em; }
.index .index_remark .m_FAQ{ padding-top:16px; padding-bottom:16px; }
.index .index_remark .m_FAQ:first-child{ margin-top: 0; }



/* 推荐线路 */
.recommend_path{ }
.recommend_path .cover{ position: relative; width: 30%; }
.recommend_path .cover .img{ width: 100%; display:block; }
.recommend_path .cover .box{ position: absolute; bottom: 20px; width: 60%; left: 0; right: 0; margin: auto; background: #fff; background: rgba(255,255,255,.7); text-align: center; font-size: 1.6em; padding: 10px; color: #333947; }
.recommend_path .cover .box .title{ display: block; width: 100%; border-bottom: 1px solid #e5e5e5; text-align: center; font-size: 1.4em; line-height: 1.8em; }
.recommend_path .path_hot{ width: 30%; margin: 0 1.4%; }
.recommend_path .path_hot .itme{ width: 100%; margin:10px 0 0 0; }
.recommend_path .path_hot .itme:first-child{ margin:0; }
.recommend_path .path_hot .itme .title{ height: 25px; }
.recommend_path .ranking{ width: 37.2%; }


.index .ranking{ }
.index .ranking .itme{ position: relative; display: block; width: 100%; padding: 13px 0 12px 0; overflow: hidden; border-bottom:1px solid #e5e5e5; }
.index .ranking .itme:first-child{ border-top:1px solid #e5e5e5; }
.index .ranking .itme .img{ display: block; width: 38.2%; margin: 0 61.8% 0 0; }
.index .ranking .itme .col{ position: absolute; left: 0; top: 13px; height: 100%; margin: 0 0 0 38.2%; padding: 0 0 0 3%; font-size: 1.4em; line-height: 1em; color: #8b8a8a; }
.index .ranking .itme .title{ font-size: 1em; line-height: 1.4em; }
.index .ranking .itme .price{ position: absolute; bottom: 20px; right: 0; padding: 0 4px; color: #f54200; }

.index .ranking .u_sign{ position: absolute; top:6px; left: 0%;}

.index .ranking .itme:nth-child(1) .u_sign{ }
.index .ranking .itme:nth-child(2) .u_sign{ }
.index .ranking .itme:nth-child(3) .u_sign{ }
/*.index .ranking .itme:nth-child(4) .u_sign{ background:#8b8a8a;  }*/

.index .ranking .itme:hover{ }
.index .ranking .itme:hover .col{ color: #333947; text-decoration: underline; }


/* 服务点评 */
.index_remark{

}


/* 包团定制 */
.customization{ }
.customization .step{ overflow: hidden; width: 100%; }
.customization .step .list{ float: left; width: 48%; height: 60px; padding:0 2% 0 0; background: #e5e5e5; font-size: 1.8em; line-height: 60px; text-align: center; position: relative; }
.customization .step .list:after{ content:""; position: absolute; top: 0; bottom: 0; right: -30px; display: block; width: 0; height: 0; margin: auto; border-color:transparent transparent transparent #e5e5e5; border-width:  30px 0 30px 30px; border-style: solid; z-index: 2; }
.customization .step .active{ background: #f54200; color: #fff; }
.customization .step .active:after{ border-color:transparent transparent transparent #f54200; }
.customization .info .m_message .item{ overflow: hidden; }
.customization .info .step_btn{ margin:80px 0; overflow: hidden; vertical-align: top; }
.customization .info .step_btn .verify{ display: inline-block; overflow: hidden; }
.customization .info .step_btn .verify .title{ height: 46px; font-size: 1.8em; line-height: 46px; display: block; float: left; }
.customization .info .step_btn .verify .input{ float: left; display: block; width: 80px; padding-left: 8px; padding-right: 8px; margin: 0 10px; letter-spacing:6px; text-transform:uppercase; }
.customization .info .step_btn .verify .img{ float: left; display: block; width: 80px; height: 46px; }
.customization .info .step_btn .btn{ vertical-align:top; display: inline-block; font-size: 2.6em; padding-right: 40px; padding-left:40px; margin: 0 0px 0 10px; }
.customization .info .step_btn .none{ display: none; }



/* 路线大全 */
.path{
	
}

/* 美景欣赏 */
.fineview{
	
}
/* 美景欣赏 详细*/
.fineview_detail{
	
}

.fineview_detail .m_photo{
	
}
.fineview_detail .m_photo .list{
	height: 530px;
	float: left;
}
.fineview_detail .info .m_photo .list:nth-child(4n+1),
.fineview_detail .info .m_photo .list:nth-child(4n){
	/*width: 61.8%;*/
}
.fineview_detail .info .m_photo .list:nth-child(4n+2),
.fineview_detail .info .m_photo .list:nth-child(4n+3){
	/*width: 38.2%;*/
}


.fineview_detail .info .m_photo .list:nth-child(2n+1) .plr{
	padding-left:0;
	margin-left: 0;
}
.fineview_detail .info .m_photo .list:nth-child(2n) .plr{
	padding-right:0;
	margin-right: 0;
}




/* 游客风采 */
.mien{

}

/* 游客风采 详细 */
.mien_detail{ }
.mien_detail .info .video{ height: 40px; padding:10px 0; font-size: 2em; line-height: 40px; color: #333947; vertical-align: top; }
.mien_detail .info .video .icon{ height: 40px; margin: 0 8px 0 0; display: inline-block; font-size: 1.8em; line-height: 40px; -webkit-transition:margin .4s ease-out; -moz-transition:margin .4s ease-out; -ms-transition:margin .4s ease-out; -o-transition:margin .4s ease-out; transition:margin .4s ease-out; }
.mien_detail .info .video:hover{ color: #f54200; }
.mien_detail .info .video:hover .icon{ margin: 0 2px 0 6px; }


/* 咨询点评 */
.consult_remark{ }
.consult_remark .u_title{ margin-top:0;  }
.consult_remark .cr_itme{ }
.consult_remark .cr_itme .cr_list_wrap{ }
/*.consult_remark .cr_itme .cr_list_wrap .m_FAQ:first-child{ margin: 0; }*/
.consult_remark .cr_itme .from{ margin: 20px 0; }
.consult_remark .cr_itme .m_message{ }
.consult_remark .cr_itme .btn_box{ text-align: center; }
.consult_remark .cr_itme .btn_box .u_btn{ font-size: 3em; line-height: 1em; padding: 20px 60px; margin: 20px auto; }
.consult_remark .consult{ }
.consult_remark .remark{ }


/* 咨询 详细 */
.consult_detail{ }
.consult_detail .relate{ }
.consult_detail .relate .m_FAQ{ }
.consult_detail .m_edit{ padding-top: 20px; position: relative; }
.consult_detail .m_edit::before{ content: '答'; position:absolute; top: 0px; left: -10px; display: block; border-radius: 50%; border: 2px solid #eee; font-size: 3em; line-height: 1em; padding:16px; color: #eee; z-index: -1; -webkit-transform: rotate(-25deg); -moz-transform: rotate(-25deg); -ms-transform: rotate(-25deg); -o-transform: rotate(-25deg); transform: rotate(-25deg); opacity: 0.6; filter: alpha(opacity=60); }
.relate .m_FAQ .Q_title{ margin: 0; }


/* 服务点评 */
.span_2_FAQ{ }
.span_2_FAQ dl{ padding: 20px 0; overflow: hidden;}
.span_2_FAQ .g_span_pct50 .m_FAQ{ height: 68px; width: auto; margin: 0 20px 20px 0px;}
.span_2_FAQ .g_span_pct50:nth-child(2n) .m_FAQ{ margin: 0 0px 20px 20px; }
.span_2_FAQ .m_FAQ_even{ margin: 0 0px 20px 20px; }

/* 点评详细 */
.remark_detail{

}





/* 出游贴士 */
.strategy{

}

/* 出游贴士 详细 */
.strategy_detail{
	
}
.strategy_detail .info{
	
}



/* 关于我们 */
.about{ padding: 60px 0; overflow: hidden; }
.about .cover{ width: 50%; float: left; }
.about .info{ display: inline-block; width: 50%; }
.about .info .name{ padding: 0 0 20px 0; font-size: 3em; line-height: 1em; text-align: center; }
.about .info .m_edit{ padding:0 20px; }



/* 问题 */
.issue_list{

}

/* 问题 详细 */
.issue_detail{

}



/* 404 */
.div_404{
	padding: 0 0 80px 0;
	text-align: center;
}
.div_404 img{
	display: block;
	margin: 0 auto;
	width: 260px;
}
.div_404 p{
	text-align: center;
	font-size: 3em;
	line-height: 1.4em;
	color: #333947;
	text-shadow: 0px -1px 0px #8b8a8a, 0px 2px 0px #e5e5e5;
}
.div_404 .btn{
	margin: 40px 0;
}













/* css3动画 */
.m_ad_top,
.m_ad_top .btn_close,
.header .logo .img,
.header .search .txt,
.header .search .btn_search,
.nav_main ul li,
.issue dl dd a,
.safeguard ul li a,
.m_FAQ,
.u_page li a,
.m_list .area .list a,
.m_list .info .itme .float_box,
.m_list .info .itme .title,
.m_list .info .itme .img,
.e_list_img .info .itme .wire,
.index .ranking .itme,
.index .ranking .itme .col,
.u_title .btn_more,
.u_btn,
.m_message .item .input,
.m_message .item .grade,
.customization .step .list,
.m_photo_vertical .list .describe,
.mien_detail .info .video,
.issue dl dt a,
.u_radio,
.u_radio .bg,
.u_radio .bg:after,
.u_radio,
.u_radio .bg,
.u_radio .bg:after,
.m_photo .list .plr,
.m_photo .list .plr .title{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}